.text-serif {
  font-family: 'Playfair Display', serif;
}

.text-prata {
  font-family: 'Prata', serif;
}

.text-bebas {
  font-family: 'Bebas Neue', serif;
}

.fi {
  line-height: 0.8;
}

.btn {
  padding: 8px 14px;
  border-radius: 6px;
  font-size: $fs-md;
}

.btn-notif {
  position: relative;
  display: grid;
  place-content: center;
  width: 30px;
  height: 30px;
  padding: 8px;
  box-shadow: none;

  .dot {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: red;
  }
}

.btn-calendar {
  font-size: $fs-md;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 500;

  .fi {
    font-size: $fs-lg;
  }
}

.calendar-dates {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  gap: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;

  .dates-boxed {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 8px 16px;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    text-align: center;
    text-wrap: nowrap;
    scroll-snap-align: start;
    user-select: none;
    cursor: pointer;

    small {
      font-size: $fs-sm;
    }
  }

  .dates-boxed.selected {
    color: #007bff;
    border-color: #007bff;
    
    small {
      color: #007bff !important;
    }
  }
}

.form-control {
  padding: 8px 12px;
  border-radius: 6px;
  font-size: $fs-md;
}

.form-select {
  padding: 8px 12px;
  border-radius: 6px;
  font-size: $fs-md;
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.list-group-borderless {
  .list-group-item {
    padding: 6px 0;
    border-width: 0;
  }
}

.list-group-options {
  display: flex;
  flex-direction: column;

  .toggle-show {
    display: none;
  }

  .note {
    order: 100;
  }

  .list-group-item {
    order: 2;
    border-width: 0;
    padding: 4px 0;

    .label-select {
      padding: 16px;
      border: 1px solid var(--mdb-border-color);
      border-radius: 10px;
      cursor: pointer;
    
      h5 {
        color: rgba(var(--mdb-danger-rgb), 1);
      }
    
      .info {
        font-size: $fs-xs;
        color: var(--mdb-secondary-color);
      }
    }
  }

  .list-group-item:has(input[type=radio]:checked) {
    order: 1;

    .label-select {
      border-color: #007bff;
      background-color: rgba(var(--mdb-primary-rgb), 1);
      color: white;
  
      h5 {
        color: yellow !important;
      }
  
      .info {
        color: white;
        opacity: .5;
      }
    }
  }
}

.list-group-options:has(input[type=radio]:checked) {
  .toggle-show {
    display: block !important;
    text-align: center;
    justify-content: center;
    gap: 8px;
    order: 99;

    label {
      width: 100%;
      cursor: pointer;

      &::after {
        content: '\fd6c';
        font-family: uicons-regular-rounded !important;
      }
    }
  }

  .note {
    display: block !important;
  }

  .list-group-item:not(:has(:checked)) {
    display: none;
  }
}

.list-group-options:has(input[type=checkbox]:checked) {
  .toggle-show {
    order: 99;

    label::after {
      content: '\fd61';
    }
  }

  .list-group-item:not(:has(input[type=radio]:checked)) {
    display: flex;
  }
}

.list-guide {
  display: flex;
  gap: 6px;
  flex-wrap: nowrap;
  scroll-snap-type: mandatory;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: grid;
    place-content: center;
  }
  
  .guide-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 8px;
    border: 2px solid #eee;
    border-radius: 8px;
    text-align: center;
    text-wrap: nowrap;
    scroll-snap-align: start;
    user-select: none;
    cursor: pointer;

    img {
      width: 100%;
      height: 132px;
      object-fit: cover;
      margin-bottom: 8px;
    }

    h6 {
      font-size: $fs-md;
      font-weight: 600;
      margin-bottom: 2px;
    }

    .rank {
      display: flex;
      align-items: center;
      gap: 4px;

      .fi {
        color: yellow;
      }
    }

    .tag {
      position: absolute;
      display: flex;
      align-items: center;
      gap: 4px;
      top: 2px;
      left: 2px;
      padding: 4px 8px;
      font-size: $fs-xs;
      border-radius: 6px 0 6px 0;
      background-color: rgba(var(--mdb-danger-rgb), 1);
      color: white;
    }
  }

  .guide-box:has(:checked) {
    border-color: rgba(var(--mdb-primary-rgb), 1);
    background-color: rgba(var(--mdb-primary-rgb), 1);
    color: white;
  }
}

.list-group-1\/3 {
  .list-group-item {
    display: flex;
    align-items: center;

    & > *:first-child {
      width: 33.33%;
      flex-shrink: 0;
    }
    
    & > *:last-child {
      width: unset;
      flex-grow: 1;
    }
  }
}

.input-number-button {
  display: flex;
  align-items: stretch;
  gap: 8px;

  .form-control {
    width: 60px;
    text-align: center;
  }
}

.label-check {
  &:has(input) {
    cursor: pointer;
  }

  &:has(:checked) {
    background-color: rgba(var(--mdb-primary-rgb), 1);
    color: white;
  }
}