$fs-xs  : 12px;
$fs-sm  : 13px;
$fs-md  : 14px;
$fs-lg  : 16px;
$fs-xl  : 18px;
$fs-2xl : 20px;

.text-xs { font-size: $fs-xs !important; }
.text-sm { font-size: $fs-sm !important; }
.text-md { font-size: $fs-md !important; }
.text-lg { font-size: $fs-lg !important; }
.text-xl { font-size: $fs-xl !important; }
.text-2xl { font-size: $fs-2xl !important; }

.top-3 { top: 16px; }

.rounded-normal { border-radius: 10px; }