.btn-accent {
  background-color: $accent;
  border-color: $accent;
}

.btn-normal {
  padding-top: 12px;
  padding-bottom: 11px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: $fs-sm;
  box-shadow: none;

  &:hover {
    border: 1px solid var(--mdb-border-color);
    box-shadow: none !important;
  }
}

.btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-floating {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  padding: 0;
  border-radius: 50rem
}

.btn-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: $fs-sm !important;
  border: 1px solid var(--bs-border-color);
  border-radius: 10px;
  background-color: $white;

  &:after {
    content: "\fd69";
    position: absolute;
    display: grid;
    place-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 12px;
    font-size: $fs-md;
    font-family: uicons-regular-rounded !important;
  }
}

.btn-dropdown:hover {
  border-color: var(--bs-border-color);
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.customer-list-item {
  display: flex;
  align-items: center;
  gap: 12px;

  .cust-img {
    display: grid;
    place-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50rem;
    background-color: $accent-lighter;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.customer-detail-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 12px;
  color: $dark;

  strong {
    text-align: right;
    color: $darker;
    max-width: 68%;
  }
}

.offcanvas-full {
  --bs-offcanvas-height: 100dvh;
  --bs-offcanvas-border-width: 0px;
}

.offcanvas-auto {
  --bs-offcanvas-height: auto;
}

.offcanvas-body {
  .form-control, .form-select {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.offcanvas-footer {
  .btn {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
    font-size: $fs-sm;
  }
}

.form-underline {
  label:after {
    --bs-body-bg: transparent;
    color: $dark !important;
  }

  .form-control {
    font-size: $fs-sm;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $silver;
  }

  .form-floating>label {
    color: $dark;
  }

  .form-floating > .form-control:focus {
    padding-top: 1.35rem;
  }

  .btn {
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 0.75rem;
    --bs-border-radius: 10px;
    font-size: $fs-sm;
  }
}

.list-group-between {
  font-size: $fs-sm;
  border-radius: 16px;

  .list-group-item {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding-top: 16px;
    padding-bottom: 16px;

    .item-content {
      display: flex;
      flex-direction: column;
      gap: 4px;
      font-size: $fs-xs;

      h5 {
        font-weight: bold;
        margin-bottom: 0;
      }

      strong {
        font-size: $fs-sm;
      }

      small {
        font-size: $fs-xs;
        color: var(--bs-secondary-color);
      }
    }

    .item-content:last-child {
      text-align: end;
    }
  }
}

.list-group-between-link {
  font-size: $fs-sm;
  border-radius: 16px;

  .list-group-item a {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding-top: 8px;
    padding-bottom: 8px;

    .item-content {
      display: flex;
      flex-direction: column;
      gap: 4px;
      font-size: $fs-xs;

      h5 {
        font-weight: bold;
        margin-bottom: 0;
      }

      strong {
        font-size: $fs-sm;
      }

      small {
        font-size: $fs-xs;
        color: var(--bs-secondary-color);
      }
    }

    .item-content:last-child {
      text-align: end;
    }
  }
}

.list-group-contact {
  font-size: $fs-sm;
  border-radius: 16px;

  .list-group-item a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .user-avatar {
    width: 48px;
    height: 48px;
    border: 1px solid var(--bs-border-color);
    border-radius: 50rem;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .user-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.list-group-summary {
  font-size: $fs-sm;

  .list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    font-size: $fs-xs;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;

    &:nth-last-of-type() {
      text-align: end;
    }
  }
}

.card-heading {
  padding: 16px;
  border-radius: 16px;
  background-color: $white;
  text-align: center;
  border: 1px solid var(--bs-border-color);
}

.card-details {
  padding: 16px;
  border-radius: 16px;
  background-color: $white;
  font-size: $fs-sm;
  border: 1px solid var(--bs-border-color);
}

.card-profile-header {
  padding: 16px;
  border-radius: 16px;
  background-color: $white;
  font-size: $fs-sm;
  border: 1px solid var(--bs-border-color);
  text-align: center;

  .user-avatar {
    width: 86px;
    height: 86px;
    margin: 0 auto 16px;
    border: 1px solid var(--bs-border-color);
    border-radius: 50rem;
    background-color: $white;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .user-info {
    display: flex;
    flex-direction: column;
    gap: 4px;

    h5 {
      margin-bottom: 0;
      font-weight: bold;
    }
  }
}

.dl-between {
  dd {
    color: var(--bs-secondary-color);
  }

  dd:not(:last-of-type) {
    margin-bottom: 16px;
  }

  dt {
    text-align: end;
  }
}

.input-group {
  .form-control {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.input-icon {
  position: relative;

  .form-control {
    padding-left: 42px;
  }
}

.input-date-icon {
  position: relative;

  .form-control {
    padding-left: 42px;
    text-align: left;
  }

  .form-control::-webkit-calendar-picker-indicator {
    display: none;
  }

  .input-group-icon {
    color: $dark;
    pointer-events: none;
  }
}

.input-currency {
  position: relative;

  .currency-name {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 4px 14px;
    display: grid;
    place-content: center;
  }

  .form-control {
    padding-left: 40px;
  }
}

.input-amount {
  .form-control {
    font-size: $fs-2xl;
    font-weight: bold;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dropdown-menu {
  width: 100%;
  padding: 8px;
  font-size: $fs-sm;
  border-radius: 10px;
  border-color: var(--bs-border-color);

  li {
    display: flex;
    align-items: center;
  }

  label {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;

    .form-check-input {
      margin-right: 8px;
    }
  }
}

.nav-tabs {
  flex-wrap: nowrap;
  border-bottom: var(--mdb-nav-tabs-border-width) solid var(--mdb-nav-tabs-border-color);

  .nav-link {
    border: 1px solid transparent;
    margin-bottom: calc(-1* var(--mdb-nav-tabs-border-width));
    padding: 18px;
    font-size: $fs-sm;
    color: $dark;
    border-bottom: none;
    border-radius: 10px 10px 0 0;

    &:hover {
      background-color: transparent;
    }

    &.active {
      border: 1px solid var(--mdb-border-color);
      color: var(--mdb-heading-color);
      border-bottom: none;
    }

    &.active:hover {
      background-color: $white;
    }
    
    .fi {
      display: none;
    }
  }
}

.modal-content {
  border-radius: 16px;
}

.step {
  .step-items {
    display: none;
  }

  .step-items.active {
    display: block;
  }
}

@media (min-width: 576px) {
  .nav-tabs {
    .nav-link {
      padding: 18px 30px;

      .fi {
        display: inline-block;
      }
    }
  }
}