$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 20px;
$fs-2xl: 24px;
$fs-3xl: 38px;

$accent: #ff8036;
$accent-light: #ff9f6b;
$accent-lighter: #ffede4;
$black: #111214;
$darkest: #24262b;
$darker: #50535b;
$dark: #949699;
$silver: #d7d8d9;
$light: #f5f7f9;
$lighter: #fafafb;
$white: #ffffff;
$warning: rgb(255,193,7);

h6 { font-size: $fs-sm; }
h5 { font-size: $fs-md; }
h4 { font-size: $fs-lg; }
h3 { font-size: $fs-xl; }
h2 { font-size: $fs-2xl; }
h1 { font-size: $fs-3xl; }

.text-xs { font-size: var(--fs-xs) !important; }
.text-sm { font-size: var(--fs-sm) !important; }
.text-md { font-size: var(--fs-md) !important; }
.text-lg { font-size: var(--fs-lg) !important; }
.text-xl { font-size: var(--fs-xl) !important; }
.text-2xl { font-size: var(--fs-2xl) !important; }
.text-3xl { font-size: var(--fs-3xl) !important; }