@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --fs-xs: 10px;
  --fs-sm: 12px;
  --fs-md: 14px;
  --fs-lg: 16px;
  --fs-xl: 18px;
  --fs-2xl: 20px;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #0D6EFD;
}

h4 {
  font-size: 26px !important;
  font-weight: 700 !important;
}

h5 {
  font-size: 22px !important;
  font-weight: 700 !important;
}

h6 {
  font-size: 20px !important;
  font-weight: 700 !important;
}

.app-container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  min-height: 100dvh;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 75px;
  overflow: hidden;
}

.top-bar {
  display: flex;
  padding: 12px 16px;
}

.top-bar .btn-home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F7F7F9;
  backdrop-filter: blur(4px);
  line-height: normal;
}

/* ===== LOGIN ===== */
.login-wrapper {
  flex: 1 0 auto;
  padding: 12px 16px;
}

.login-wrapper .header {
  text-align: center;
  font-size: 14px;
}

.login-wrapper .header p {
  color: #7D848D;
}

.login-wrapper .content {
  margin-top: 48px;
}

.login-wrapper .content a {
  color: #0D6EFD;
}

.login-wrapper .content .btn {
  margin-top: 24px !important;
}

.login-wrapper .content > :not([hidden]) ~ :not([hidden]) {
  margin-top: 14px;
}

.login-wrapper .content.otp h6 {
  font-size: 20px;
  font-weight: 600;
}

.login-wrapper .otp-input {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 8px;
}

.login-wrapper .otp-input .form-control {
  text-align: center;
}

.login-wrapper .forgot-pass {
  text-align: right;
  font-size: 14px;
}

.login-wrapper .info {
  font-size: 14px;
  color: #7D848D;
}

.login-wrapper .content .signup {
  padding-top: 30px;
  text-align: center;
  font-size: 14px;
  color: #707B81;
}

.login-wrapper .social-connect {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.login-wrapper .social-connect > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-top: 25px;
  padding: 12px;
  border: 1px solid #D7D7D9;
  border-radius: 50%;
}

/* ===== HOME ===== */
.home-header {
  padding: 16px;
  border-radius: 0 0 24px 24px;
  background-color: rgb(30 58 138);
  color: #FFFFFF;
}

.home-header > :not([hidden]) ~ :not([hidden]) {
  margin-top: 24px;
}

.home-header .app-topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-header .user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.home-header .user-info img {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

.home-header .notification {
  position: relative;
  padding: 8px;
}

.home-header input {
  padding: 12px;
  padding-left: 38px;
  color: #171717;
}

.home-categories {
  padding: 16px;
  text-align: center;
  font-size: 12px;
}

.menu-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 8px;
}

.home-banner {
  padding: 16px;
}

.home-banner .card {
  position: relative;
  height: 148px;
}

.home-banner .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  padding-bottom: 0px;
  font-size: 18px;
}

.section-header .link {
  font-size: 14px;
  color: #0D6EFD;
}

.card-list {
  padding: 16px;
}

.card-list ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-list-items {
  display: flex;
  gap: 12px;
  padding: 8px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
}

.card-list-items .img-frame {
  width: 42%;
}

.card-list-items .img-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card-list-items .item-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.card-list-items .item-content strong {
  font-size: 16px;
}

.card-list-items .item-content .location {
  font-size: 12px;
  color: #7D848D;
}

.card-list-items .item-content .description {
  font-size: 14px;
  color: #1B1E28;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card-list-items .item-content .price {
  margin-top: auto;
}

.card-list-items .item-content .price strong {
  font-size: 16px;
}

.card-list-items .item-content .price small {
  font-size: 12px;
  color: #7D848D;
}

/* ===== PLACE ===== */
.place-header {
  position: relative;
}

.place-header img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.place-header .top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 16px;
}

.place-header .top-bar .btn-home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F7F7F9;
  backdrop-filter: blur(4px);
}

.place-content {
  background-color: #FFFFFF;
  border-radius: 24px 24px 0 0;
  transform: translate(0, -24px);
}

.place-content .content-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 16px 8px;
  font-size: 14px;
  line-height: 26px;
  color: #7D848D;
}

.place-content .content-header h5 {
  color: #1B1E28;
}

.place-content .content-body {
  padding: 16px;
}

.place-content .content-body > :not([hidden]) ~ :not([hidden]) {
  margin-top: 16px;
}

.place-content .content-body .card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  font-size: 14px;
  background-color: rgb(241, 245, 259);
  border-radius: 8px;
}

.place-content .card-info .price {
  text-align: end;
  line-height: 20px;
}

.place-content section strong {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
}

.place-content section p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}

.place-content .overview-swiper {
  overflow: hidden;
}

.place-content img.swiper-slide {
  height: 65px;
  border-radius: 8px;
}

.place-content ul.list-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 14px;
}

.place-content ul.list-card li {
  padding: 6px 12px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

/* ===== BOTTOM NAVBAR ===== */
.bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 75px;
}

.bottom-navbar-wrapper {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px;
  background-color: #FFFFFF;
}

.bottom-navbar-wrapper .app-navbar {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 8px;
  text-align: center;
}

.bottom-navbar-wrapper .app-navbar a {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
}

.bottom-navbar-wrapper .app-navbar img {
  height: 20px;
}

/* ===== INPUT ===== */
.input-group {
  position: relative;
}

.form-control {
  width: 100%;
  padding: 14px 16px;
  font-size: 16px;
  background-color: #F7F7F9;
  border: 1px solid #F7F7F9;
  border-radius: 14px;
}

.btn {
  padding: 14px 16px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 16px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary {
  background-color: #0D6EFD;
  color: #FFFFFF;
}
