@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200..800;1,200..800&display=swap");
h6 {
  font-size: 0.875rem;
}

h5 {
  font-size: 1rem;
}

h4 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1.5rem;
}

h1 {
  font-size: 2.375rem;
}

.text-xs {
  font-size: var(--fs-xs) !important;
}

.text-sm {
  font-size: var(--fs-sm) !important;
}

.text-md {
  font-size: var(--fs-md) !important;
}

.text-lg {
  font-size: var(--fs-lg) !important;
}

.text-xl {
  font-size: var(--fs-xl) !important;
}

.text-2xl {
  font-size: var(--fs-2xl) !important;
}

.text-3xl {
  font-size: var(--fs-3xl) !important;
}

.text-dark {
  color: #949699 !important;
}

.text-darker {
  color: #50535b;
}

.btn-accent {
  background-color: #ff8036;
  border-color: #ff8036;
}

.btn-normal {
  padding-top: 12px;
  padding-bottom: 11px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 0.875rem;
  box-shadow: none;
}
.btn-normal:hover {
  border: 1px solid var(--mdb-border-color);
  box-shadow: none !important;
}

.btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-floating {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  padding: 0;
  border-radius: 50rem;
}

.btn-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 0.875rem !important;
  border: 1px solid var(--bs-border-color);
  border-radius: 10px;
  background-color: #ffffff;
}
.btn-dropdown:after {
  content: "ﵩ";
  position: absolute;
  display: grid;
  place-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 12px;
  font-size: 1rem;
  font-family: uicons-regular-rounded !important;
}

.btn-dropdown:hover {
  border-color: var(--bs-border-color);
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.customer-list-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.customer-list-item .cust-img {
  display: grid;
  place-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50rem;
  background-color: #ffede4;
}
.customer-list-item .cust-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.customer-detail-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 12px;
  color: #949699;
}
.customer-detail-item strong {
  text-align: right;
  color: #50535b;
  max-width: 68%;
}

.offcanvas-full {
  --bs-offcanvas-height: 100dvh;
  --bs-offcanvas-border-width: 0px;
}

.offcanvas-auto {
  --bs-offcanvas-height: auto;
}

.offcanvas-body .form-control, .offcanvas-body .form-select {
  padding-top: 12px;
  padding-bottom: 12px;
}

.offcanvas-footer .btn {
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 12px;
  font-size: 0.875rem;
}

.form-underline label:after {
  --bs-body-bg: transparent;
  color: #949699 !important;
}
.form-underline .form-control {
  font-size: 0.875rem;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #d7d8d9;
}
.form-underline .form-floating > label {
  color: #949699;
}
.form-underline .form-floating > .form-control:focus {
  padding-top: 1.35rem;
}
.form-underline .btn {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.75rem;
  --bs-border-radius: 10px;
  font-size: 0.875rem;
}

.list-group-between {
  font-size: 0.875rem;
  border-radius: 16px;
}
.list-group-between .list-group-item {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.list-group-between .list-group-item .item-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 0.75rem;
}
.list-group-between .list-group-item .item-content h5 {
  font-weight: bold;
  margin-bottom: 0;
}
.list-group-between .list-group-item .item-content strong {
  font-size: 0.875rem;
}
.list-group-between .list-group-item .item-content small {
  font-size: 0.75rem;
  color: var(--bs-secondary-color);
}
.list-group-between .list-group-item .item-content:last-child {
  text-align: end;
}

.list-group-between-link {
  font-size: 0.875rem;
  border-radius: 16px;
}
.list-group-between-link .list-group-item a {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.list-group-between-link .list-group-item a .item-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 0.75rem;
}
.list-group-between-link .list-group-item a .item-content h5 {
  font-weight: bold;
  margin-bottom: 0;
}
.list-group-between-link .list-group-item a .item-content strong {
  font-size: 0.875rem;
}
.list-group-between-link .list-group-item a .item-content small {
  font-size: 0.75rem;
  color: var(--bs-secondary-color);
}
.list-group-between-link .list-group-item a .item-content:last-child {
  text-align: end;
}

.list-group-contact {
  font-size: 0.875rem;
  border-radius: 16px;
}
.list-group-contact .list-group-item a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.list-group-contact .user-avatar {
  width: 48px;
  height: 48px;
  border: 1px solid var(--bs-border-color);
  border-radius: 50rem;
}
.list-group-contact .user-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.list-group-contact .user-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.list-group-summary {
  font-size: 0.875rem;
}
.list-group-summary .list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-size: 0.75rem;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}
.list-group-summary .list-group-item:nth-last-of-type() {
  text-align: end;
}

.card-heading {
  padding: 16px;
  border-radius: 16px;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid var(--bs-border-color);
}

.card-details {
  padding: 16px;
  border-radius: 16px;
  background-color: #ffffff;
  font-size: 0.875rem;
  border: 1px solid var(--bs-border-color);
}

.card-profile-header {
  padding: 16px;
  border-radius: 16px;
  background-color: #ffffff;
  font-size: 0.875rem;
  border: 1px solid var(--bs-border-color);
  text-align: center;
}
.card-profile-header .user-avatar {
  width: 86px;
  height: 86px;
  margin: 0 auto 16px;
  border: 1px solid var(--bs-border-color);
  border-radius: 50rem;
  background-color: #ffffff;
}
.card-profile-header .user-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-profile-header .user-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.card-profile-header .user-info h5 {
  margin-bottom: 0;
  font-weight: bold;
}

.dl-between dd {
  color: var(--bs-secondary-color);
}
.dl-between dd:not(:last-of-type) {
  margin-bottom: 16px;
}
.dl-between dt {
  text-align: end;
}

.input-group .form-control {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input-icon {
  position: relative;
}
.input-icon .form-control {
  padding-left: 42px;
}

.input-date-icon {
  position: relative;
}
.input-date-icon .form-control {
  padding-left: 42px;
  text-align: left;
}
.input-date-icon .form-control::-webkit-calendar-picker-indicator {
  display: none;
}
.input-date-icon .input-group-icon {
  color: #949699;
  pointer-events: none;
}

.input-currency {
  position: relative;
}
.input-currency .currency-name {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 4px 14px;
  display: grid;
  place-content: center;
}
.input-currency .form-control {
  padding-left: 40px;
}

.input-amount .form-control {
  font-size: 1.5rem;
  font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dropdown-menu {
  width: 100%;
  padding: 8px;
  font-size: 0.875rem;
  border-radius: 10px;
  border-color: var(--bs-border-color);
}
.dropdown-menu li {
  display: flex;
  align-items: center;
}
.dropdown-menu label {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
}
.dropdown-menu label .form-check-input {
  margin-right: 8px;
}

.nav-tabs {
  flex-wrap: nowrap;
  border-bottom: var(--mdb-nav-tabs-border-width) solid var(--mdb-nav-tabs-border-color);
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  margin-bottom: calc(-1 * var(--mdb-nav-tabs-border-width));
  padding: 18px;
  font-size: 0.875rem;
  color: #949699;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}
.nav-tabs .nav-link:hover {
  background-color: transparent;
}
.nav-tabs .nav-link.active {
  border: 1px solid var(--mdb-border-color);
  color: var(--mdb-heading-color);
  border-bottom: none;
}
.nav-tabs .nav-link.active:hover {
  background-color: #ffffff;
}
.nav-tabs .nav-link .fi {
  display: none;
}

.modal-content {
  border-radius: 16px;
}

.step .step-items {
  display: none;
}
.step .step-items.active {
  display: block;
}

@media (min-width: 576px) {
  .nav-tabs .nav-link {
    padding: 18px 30px;
  }
  .nav-tabs .nav-link .fi {
    display: inline-block;
  }
}
.app-home-header {
  position: relative;
  padding: 16px;
  padding-bottom: 24px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.app-home-header .user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
.app-home-header .user-info .avatar {
  display: grid;
  place-content: center;
  width: 36px;
  height: 36px;
  font-size: 0.875rem;
  font-weight: bold;
  background-color: #9fc4ff;
  color: #1c3967;
  border-radius: 50%;
}
.app-home-header .user-info img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.app-home-balance {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  margin-top: 24px;
  border-radius: 16px;
  background-color: #24262b;
  color: #f5f7f9;
  cursor: pointer;
}

.app-home-balance-action {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 8px;
  margin-top: 16px;
}
.app-home-balance-action .btn {
  --bs-bg-opacity: 0.25;
  padding: 14px 0;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 12px;
}

.app-home-marketplace {
  padding: 16px;
}
.app-home-marketplace .btn-flex {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 12px;
}
.app-home-marketplace .nav-link {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #949699;
}

.app-home-banner .banner-promo {
  overflow: hidden;
  padding: 16px;
}
.app-home-banner .swiper-slide {
  height: 195px;
}
.app-home-banner .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.app-home-content {
  position: relative;
  padding: 16px;
  overflow: hidden;
}
.app-home-content .content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 0.875rem;
}
.app-home-content .content-header .heading {
  margin-bottom: 0;
  font-weight: 700;
}

.app-page-header {
  position: relative;
  background-color: #ffffff;
}
.app-page-header .top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.app-page-header .top-bar h4 {
  margin-bottom: 0;
  font-weight: bold;
}
.app-page-header .top-bar .btn-icon {
  --border-color: rgba(0, 0, 0, 0);
  --bg-color: rgba(0, 0, 0, 0);
  --text-color: $dark;
  font-size: 1.125rem;
}
.app-page-header .top-bar .notify {
  position: relative;
}
.app-page-header .top-bar .notify .dot {
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #ff8036;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transform: translate(5px, -5px);
}
.app-page-header .top-bar-search {
  display: flex;
  gap: 8px;
  padding: 0 16px 12px;
}
.app-page-header .top-bar-search .btn {
  border-radius: 10px;
}
.app-page-header .top-bar-market {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
  padding: 0 16px 12px;
}
.app-page-header .top-bar-market .btn {
  --bs-bg-opacity: 0.25;
  padding: 14px 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 12px;
}

.app-page-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  padding: 16px;
  overflow: hidden;
}

.app-page-fullbanner {
  position: relative;
  width: 100%;
  height: 100dvh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.app-page-fullbanner .top-bar {
  padding: 16px;
}
.app-page-fullbanner .btn-icon {
  --border-color: rgba(255,255,255,0);
  --bg-color: rgba(255,255,255,.25);
  --text-color: $black;
}

.app-page-fullcontent {
  position: relative;
  display: flex;
  flex-direction: column;
  transform: translateY(-80px);
  margin-bottom: -80px;
}
.app-page-fullcontent .page-header {
  padding: 16px;
  height: 80px;
  border-radius: 16px 16px 0 0;
  background-color: #ffffff;
}
.app-page-fullcontent .page-header .heading {
  font-weight: 800;
}
.app-page-fullcontent .page-footer {
  padding: 16px;
}
.app-page-fullcontent .page-footer .btn {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.75rem;
  --bs-border-radius: 10px;
  font-size: 0.875rem;
}

.page-body {
  position: relative;
  padding: 16px;
  background-color: #ffffff;
  font-size: 0.875rem;
  color: #24262b;
}
.page-body .content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: var(--fs-sm);
}
.page-body .overview-swiper img {
  width: 100%;
  height: 52px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.admin-login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-size: 0.875rem;
}
.admin-login-wrapper .card-login {
  width: 386px;
  padding: 16px;
}
.admin-login-wrapper .btn {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 0.875rem;
  border-radius: 10px;
}

body {
  transition: 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  background-color: #ffffff;
  z-index: 100;
  transition: 0.5s;
}
.header.expand {
  left: 4.25rem;
}
.header .header-toggle .btn {
  --mdb-btn-padding-x: 0.75rem;
  box-shadow: none;
  font-size: 1rem;
}

.header-profile {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  border: 1px solid var(--bs-border-color);
  border-radius: 50%;
  overflow: hidden;
}

.header-profile img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -30%;
  width: 4.25rem;
  height: 100vh;
  padding: 0.5rem 1rem 0 0;
  background-color: #111214;
  transition: 0.5s;
  z-index: 100;
}
.sidebar.show {
  left: 0;
}
.sidebar .nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.sidebar .nav .nav-logo, .sidebar .nav .nav-link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.sidebar .nav .nav-logo.active, .sidebar .nav .nav-link.active {
  color: #ffffff;
}
.sidebar .nav .nav-logo.active::before, .sidebar .nav .nav-link.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: #ffffff;
}
.sidebar .nav .nav-logo {
  margin-bottom: 2rem;
}
.sidebar .nav .nav-logo-icon {
  font-size: 1.25rem;
  color: #ffffff;
}
.sidebar .nav .nav-logo-name {
  color: #ffffff;
  font-weight: 700;
}
.sidebar .nav .nav-link {
  position: relative;
  color: #ffffff;
  margin-bottom: 1.5rem;
  transition: 0.3s;
  font-size: 0.875rem;
}
.sidebar .nav .nav-link:hover {
  color: #ffffff;
}
.sidebar .nav .nav-icon {
  font-size: 1.15rem;
}

.content-wrapper {
  margin-top: 3.5rem;
  padding: 1rem;
  font-size: 0.875rem;
  transition: 0.5s;
}
.content-wrapper.expand {
  margin-left: 4.25rem;
}

.table-listing .news-img {
  width: 36px;
  display: none;
}
.table-listing .news-img img {
  width: 36px;
  height: 36px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50rem;
}
.table-listing .news-content {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 680px;
}
.table-listing .news-content p {
  display: none;
}

.banner-list-grid {
  display: grid;
}
.banner-list-grid .banner-items img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.banner-list-grid .banner-items .banner-items-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 0.875rem;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--mdb-border-color);
  border-radius: 0 0 10px 10px;
}

@media screen and (min-width: 768px) {
  .content-wrapper {
    margin-top: 4.5rem;
    margin-left: 4.25rem;
  }
  .content-wrapper.expand {
    margin-left: calc(4.25rem + 156px);
  }
  .header {
    height: 4.5rem;
    left: 4.25rem;
  }
  .header.expand {
    left: calc(4.25rem + 156px);
  }
  .header .header-profile {
    width: 2.5rem;
    height: 2.5rem;
  }
  .header .header-profile img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .sidebar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  .sidebar.show {
    width: calc(4.25rem + 156px);
  }
  .table-listing .news-img {
    width: 250px;
    display: block;
  }
  .table-listing .news-img img {
    width: 100%;
    height: auto;
    max-height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 4px;
  }
  .table-listing .news-content p {
    display: -webkit-box;
    overflow: hidden;
    text-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    color: #50535b;
  }
  .banner-list-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.dataTable > tbody > tr.child ul.dtr-details {
  width: 100%;
}

.dataTable > tbody > tr.child ul.dtr-details > li {
  display: flex;
  justify-content: space-between;
}

table.dataTable > tbody > tr.child span.dtr-title {
  font-weight: normal;
  color: #949699;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control {
  text-wrap: nowrap;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before {
  border: none;
  font-family: uicons-regular-rounded !important;
  content: "ﵧ";
}

table.dataTable.dtr-inline.collapsed > tbody > tr.dtr-expanded > td.dtr-control:before {
  border: none;
  content: "ﵩ";
}

.dt-container > div:nth-child(1),
.dt-container > div:nth-child(3) {
  display: none;
}

:root {
  --fs-xs: 12px;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 20px;
  --fs-2xl: 28px;
  --fs-3xl: 36px;
}

body {
  font-family: "Noto Sans", sans-serif;
  line-height: normal;
  background-color: #fafafb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: 0;
  transition: all 0.3s ease-in-out;
}

.fi {
  position: relative;
  top: 1.5px;
}

.text-semidark {
  color: #8c8c8c;
}

input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator::after {
  content: "a";
  position: absolute;
  right: 0;
}

.input-group {
  position: relative;
}

.form-control {
  padding: 10px 14px;
  border-radius: 10px;
}

.form-select:focus,
.form-control:focus {
  box-shadow: none;
  border-color: #50535b;
}

.form-control::-moz-placeholder {
  color: #949699;
}

.form-control::placeholder {
  color: #949699;
}

.form-select {
  padding: 10px 38px 10px 14px;
  border-radius: 10px;
  box-shadow: none;
}

.form-grouping {
  padding: 10px 14px;
  border-radius: 8px;
  background-color: #fff;
}
.form-grouping label {
  font-size: var(--fs-xs);
  font-weight: 600;
  color: #8c8c8c;
}
.form-grouping .form-control {
  padding: 4px 0;
  background-color: transparent;
  border-radius: 0;
  border: none;
}

.otp-form-grouping {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.otp-form-grouping .form-control {
  flex: 1 0 1fr;
  text-align: center;
  padding: 12px 8px;
}

.input-group-icon {
  position: absolute;
  inset-block: 0;
  display: grid;
  place-content: center;
  padding: 0 14px;
}
.input-group-icon .fi {
  color: #d7d8d9;
}

.scroll-hidden::-webkit-scrollbar {
  width: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  max-width: 680px;
  min-height: 100dvh;
  margin-inline: auto;
  padding-bottom: 70px;
}

.search-bar {
  position: relative;
}
.search-bar .form-control {
  padding: 10px 14px 10px 42px;
  border-radius: 10px;
  border: none;
  background-color: #f5f7f9;
  font-size: 0.875rem;
}
.search-bar .form-control:focus {
  box-shadow: none;
}

.header-banner {
  height: 275px;
}

.page-img-banner {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.absolute-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.sticky-top {
  position: sticky;
  top: 0;
}

.btn-icon {
  --bg-color: rgba(0,0,0,0);
  --border-color: rgba(255, 255, 255, 0.5);
  --text-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  color: var(--text-color);
  background-color: var(--bg-color);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-size: 1.125rem;
}

.btn-icon-pill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-width: 36px;
  height: 36px;
  padding-left: 8px;
  padding-right: 12px;
  border-radius: 50rem;
  font-size: var(--fs-sm);
}

.app-home-categories {
  padding: 16px 0 0;
}
.app-home-categories ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  margin: 0;
  padding: 0 16px;
  overflow: auto;
}
.app-home-categories ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 50rem;
  font-size: var(--fs-sm);
  text-wrap: nowrap;
}

.app-page-wrapper {
  padding: 16px;
  background-color: #fff;
}

.card {
  border-radius: 10px;
}

.banner-featured .swiper-slide {
  position: relative;
}
.banner-featured .swiper-slide .content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 14px;
  padding-top: 20px;
  color: #fff;
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 0 0 12px 12px;
  font-size: var(--fs-sm);
}
.banner-featured img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.card-col-lists .list-items {
  position: relative;
  display: block;
  padding: 8px;
  border: 1px solid #dee2e6;
  border-radius: 12px;
  background-color: #fff;
}
.card-col-lists .list-items img {
  width: 100%;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.card-col-lists .list-items .btn-save {
  position: absolute;
  display: grid;
  place-content: center;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 50rem;
  background-color: rgba(243, 243, 243, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  color: #f3f6f7;
}
.card-col-lists .list-items .btn-save .fi {
  transform: translateY(2px);
}
.card-col-lists .list-items .content {
  padding: 8px 0;
}
.card-col-lists .list-items .content h5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.card-col-lists > :not(:last-child) {
  margin-bottom: 12px;
}

.list-pill {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 0;
}
.list-pill li {
  display: flex;
  align-items: center;
  gap: 8px;
  text-wrap: nowrap;
  padding: 8px 14px;
  background-color: #f3f6f7;
  color: #666;
  border-radius: 50rem;
  font-size: var(--fs-xs);
}

.flex-high {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  margin-inline: auto;
  border-radius: 80px;
  background-color: #ffede4;
}
.profile-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottom-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  z-index: 999;
}
.bottom-navbar .container {
  max-width: 680px;
  height: 100%;
  margin-inline: auto;
  padding: 0 14px 12px;
}
.bottom-navbar .navbar-menu {
  flex: 1 1 auto;
  padding-top: 12px;
  border-width: 3px 0 0;
  border-style: solid;
  border-color: transparent;
  text-align: center;
  font-size: 11px;
}
.bottom-navbar .navbar-menu.active {
  border-color: #ff8036;
}/*# sourceMappingURL=ui.css.map */