.text-serif {
  font-family: 'Playfair Display', serif;
}

.text-prata {
  font-family: 'Prata', serif;
}

.fi {
  position: relative;
  top: 1.5px;
}

.btn {
  --bs-btn-font-size: 14px;
}

.btn-notif {
  position: relative;
  display: grid;
  place-content: center;
  width: 30px;
  height: 30px;

  .dot {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: red;
  }
}