.text-serif {
  font-family: 'Playfair Display', serif;
}

.text-prata {
  font-family: 'Prata', serif;
}

.text-bebas {
  font-family: 'Bebas Neue', serif;
}

.fi {
  position: relative;
  top: 2px;
}

.btn {
  --bs-btn-font-size: 14px;
}

.btn-notif {
  position: relative;
  display: grid;
  place-content: center;
  width: 30px;
  height: 30px;

  .dot {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: red;
  }
}

.btn-calendar {
  font-size: $fs-base;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 500;

  .fi {
    font-size: $fs-lg;
  }
}

.calendar-dates {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  gap: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;

  .dates-boxed {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 8px 16px;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    text-align: center;
    text-wrap: nowrap;
    scroll-snap-align: start;
    user-select: none;
    cursor: pointer;

    small {
      font-size: $fs-sm;
    }
  }

  .dates-boxed.selected {
    color: #007bff;
    border-color: #007bff;
    
    small {
      color: #007bff !important;
    }
  }
}