$fs-xs  : 12px;
$fs-sm  : 14px;
$fs-base: 16px;
$fs-lg  : 18px;
$fs-xl  : 20px;
$fs-2xl : 24px;

.text-xs { font-size: $fs-xs; }
.text-sm { font-size: $fs-sm ; }
.text-base { font-size: $fs-base; }
.text-lg { font-size: $fs-lg; }